NodeRed/Bewertung_flow.json
[{
	"id": "d0242cc8.bbf3",
	"type": "tab",
	"label": "Bewertung",
	"disabled": false,
	"info": ""
},
{
	"id": "c9fcf107.4494e",
	"type": "inject",
	"z": "d0242cc8.bbf3",
	"name": "",
	"topic": "",
	"payload": "1",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 110,
	"y": 80,
	"wires": [["ab305b6a.9573c8",
	"3fb4c8e.109f638"]]
},
{
	"id": "ab305b6a.9573c8",
	"type": "mqtt out",
	"z": "d0242cc8.bbf3",
	"name": "",
	"topic": "/campus/modus",
	"qos": "",
	"retain": "",
	"broker": "619c8a02.ac3e04",
	"x": 540,
	"y": 120,
	"wires": []
},
{
	"id": "75c5ce13.80fbb",
	"type": "inject",
	"z": "d0242cc8.bbf3",
	"name": "",
	"topic": "",
	"payload": "0",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 110,
	"y": 120,
	"wires": [["ab305b6a.9573c8"]]
},
{
	"id": "c101f72d.6bf0c8",
	"type": "mqtt in",
	"z": "d0242cc8.bbf3",
	"name": "",
	"topic": "/campus/modus",
	"qos": "2",
	"broker": "619c8a02.ac3e04",
	"x": 120,
	"y": 200,
	"wires": [["332b768d.fe766a"]]
},
{
	"id": "332b768d.fe766a",
	"type": "debug",
	"z": "d0242cc8.bbf3",
	"name": "",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "false",
	"x": 530,
	"y": 200,
	"wires": []
},
{
	"id": "30b48370.3cdcec",
	"type": "mqtt in",
	"z": "d0242cc8.bbf3",
	"name": "",
	"topic": "/campus/rating",
	"qos": "2",
	"broker": "619c8a02.ac3e04",
	"x": 120,
	"y": 280,
	"wires": [["2f442431.3aec8c",
	"607288e9.aa7738",
	"921170f1.f96e5"]]
},
{
	"id": "ab86491e.ed3e28",
	"type": "ui_gauge",
	"z": "d0242cc8.bbf3",
	"name": "",
	"group": "792b2c00.75cca4",
	"order": 0,
	"width": 0,
	"height": 0,
	"gtype": "gage",
	"title": "Positive Bewertungen",
	"label": "Punkte",
	"format": "{{value}}",
	"min": 0,
	"max": "18",
	"colors": ["#ca3838",
	"#e6e600",
	"#00b500"],
	"seg1": "",
	"seg2": "",
	"x": 560,
	"y": 280,
	"wires": []
},
{
	"id": "2f442431.3aec8c",
	"type": "function",
	"z": "d0242cc8.bbf3",
	"name": "Compute rating",
	"func": "var x = parseInt(flow.get(\"Bewertung\"));\nvar y = parseInt(msg.payload);\nflow.set(\"Bewertung\", x+y);\nvar m = {payload: flow.get(\"Bewertung\")};\nreturn m;",
	"outputs": 1,
	"noerr": 0,
	"x": 340,
	"y": 280,
	"wires": [["ab86491e.ed3e28"]]
},
{
	"id": "3fb4c8e.109f638",
	"type": "function",
	"z": "d0242cc8.bbf3",
	"name": "Reset rating",
	"func": "flow.set(\"Bewertung\", 0);\nflow.set(\"BewertungenGesamt\", 0);\nreturn { payload: 0 };",
	"outputs": 1,
	"noerr": 0,
	"x": 530,
	"y": 80,
	"wires": [["ab86491e.ed3e28",
	"2449c326.d4609c"]]
},
{
	"id": "607288e9.aa7738",
	"type": "function",
	"z": "d0242cc8.bbf3",
	"name": "Count all ratings",
	"func": "var x = parseInt(flow.get(\"BewertungenGesamt\"));\nflow.set(\"BewertungenGesamt\", x+1);\nvar m = {payload: flow.get(\"BewertungenGesamt\")};\nreturn m;",
	"outputs": 1,
	"noerr": 0,
	"x": 340,
	"y": 380,
	"wires": [["2449c326.d4609c"]]
},
{
	"id": "2449c326.d4609c",
	"type": "ui_gauge",
	"z": "d0242cc8.bbf3",
	"name": "",
	"group": "792b2c00.75cca4",
	"order": 0,
	"width": 0,
	"height": 0,
	"gtype": "gage",
	"title": "Bewertungen gesamt",
	"label": "Punkte",
	"format": "{{value}}",
	"min": 0,
	"max": "18",
	"colors": ["#ca3838",
	"#e6e600",
	"#00b500"],
	"seg1": "",
	"seg2": "",
	"x": 560,
	"y": 380,
	"wires": []
},
{
	"id": "921170f1.f96e5",
	"type": "debug",
	"z": "d0242cc8.bbf3",
	"name": "",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "false",
	"x": 330,
	"y": 320,
	"wires": []
},
{
	"id": "619c8a02.ac3e04",
	"type": "mqtt-broker",
	"z": "",
	"name": "HAP MQTT",
	"broker": "localhost",
	"port": "1883",
	"clientid": "",
	"usetls": false,
	"compatmode": true,
	"keepalive": "60",
	"cleansession": true,
	"birthTopic": "",
	"birthQos": "0",
	"birthPayload": "",
	"closeTopic": "",
	"closePayload": "",
	"willTopic": "",
	"willQos": "0",
	"willPayload": ""
},
{
	"id": "792b2c00.75cca4",
	"type": "ui_group",
	"z": "",
	"name": "Bewertung",
	"tab": "691086cf.21d408",
	"disp": true,
	"width": "6",
	"collapse": false
},
{
	"id": "691086cf.21d408",
	"type": "ui_tab",
	"z": "",
	"name": "TQ",
	"icon": "dashboard"
}]