NodeRed/TQ_flow_alternative.json
[{
	"id": "3e8039fb.838fa6",
	"type": "tab",
	"label": "TQ",
	"disabled": false,
	"info": ""
},
{
	"id": "b9367fe8.eeb42",
	"type": "mqtt in",
	"z": "3e8039fb.838fa6",
	"name": "",
	"topic": "campus/nodeA",
	"qos": "2",
	"broker": "619c8a02.ac3e04",
	"x": 140,
	"y": 140,
	"wires": [["ce1b52bb.92aec",
	"5c41de8e.c74ea"]]
},
{
	"id": "a4c15da7.717ff",
	"type": "inject",
	"z": "3e8039fb.838fa6",
	"name": "",
	"topic": "",
	"payload": "sensors,node=nodeA1 temp=25.3,hum=60.00,press=101300.00,s0=1,s1=1,color=255_128_0",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 150,
	"y": 40,
	"wires": [["5c41de8e.c74ea"]]
},
{
	"id": "5c41de8e.c74ea",
	"type": "function",
	"z": "3e8039fb.838fa6",
	"name": "",
	"func": "// node=12345678901234567890 temp=-xx.xx,hum=100.00,press=100000.00,s0=x,s1=x,color=xxx,xxx,xxx\n//var nodeName = { payload: msg.payload.split(' ')[0].split('=')[1] };\nvar temp = { payload: msg.payload.split(' ')[1].split(',')[0].split('=')[1] };\nvar hum = { payload: msg.payload.split(' ')[1].split(',')[1].split('=')[1] };\nvar press = { payload: Math.round(msg.payload.split(' ')[1].split(',')[2].split('=')[1] / 100, 1) };\n//var s0 = { payload: msg.payload.split(' ')[1].split(',')[3].split('=')[1] };\n//var s1 = { payload: msg.payload.split(' ')[1].split(',')[4].split('=')[1] };\n//var col = { payload: msg.payload.split(' ')[1].split(',')[5].split('=')[1] };\n//var r = { payload: col.payload.split('_')[0]};\n//var g = { payload: col.payload.split('_')[1]};\n//var b = { payload: col.payload.split('_')[2]};\n\nreturn [temp, hum, press];",
	"outputs": 3,
	"noerr": 0,
	"x": 390,
	"y": 120,
	"wires": [["50747f4c.9e6cd",
	"dcd45a38.cd15c8"],
	["50747f4c.9e6cd",
	"6e8e6417.ac5aac"],
	["50747f4c.9e6cd",
	"308a2e51.799062"]]
},
{
	"id": "50747f4c.9e6cd",
	"type": "debug",
	"z": "3e8039fb.838fa6",
	"name": "",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "false",
	"x": 610,
	"y": 40,
	"wires": []
},
{
	"id": "dcd45a38.cd15c8",
	"type": "ui_gauge",
	"z": "3e8039fb.838fa6",
	"name": "",
	"group": "adf10bbe.af8488",
	"order": 0,
	"width": 0,
	"height": 0,
	"gtype": "gage",
	"title": "Temperatur",
	"label": "°C",
	"format": "{{value}}",
	"min": "-10",
	"max": "40",
	"colors": ["#0000ff",
	"#0de401",
	"#ca3838"],
	"seg1": "10",
	"seg2": "28",
	"x": 610,
	"y": 80,
	"wires": []
},
{
	"id": "6e8e6417.ac5aac",
	"type": "ui_gauge",
	"z": "3e8039fb.838fa6",
	"name": "",
	"group": "adf10bbe.af8488",
	"order": 0,
	"width": 0,
	"height": 0,
	"gtype": "gage",
	"title": "Luftfeuchtigkeit",
	"label": "%",
	"format": "{{value}}",
	"min": "0",
	"max": "100",
	"colors": ["#ff3434",
	"#34ff34",
	"#ff3434"],
	"seg1": "40",
	"seg2": "60",
	"x": 620,
	"y": 120,
	"wires": []
},
{
	"id": "308a2e51.799062",
	"type": "ui_gauge",
	"z": "3e8039fb.838fa6",
	"name": "",
	"group": "adf10bbe.af8488",
	"order": 0,
	"width": 0,
	"height": 0,
	"gtype": "gage",
	"title": "Luftdruck",
	"label": "hPa",
	"format": "{{value}}",
	"min": "900",
	"max": "1100",
	"colors": ["#ff3434",
	"#0de401",
	"#ff3434"],
	"seg1": "",
	"seg2": "",
	"x": 600,
	"y": 160,
	"wires": []
},
{
	"id": "53cdaf17.2c8a6",
	"type": "ui_gauge",
	"z": "3e8039fb.838fa6",
	"name": "",
	"group": "8012cb68.e24628",
	"order": 2,
	"width": 0,
	"height": 0,
	"gtype": "gage",
	"title": "Anzahl Clicks Button 0",
	"label": "Clicks",
	"format": "{{value}}",
	"min": "0",
	"max": "10000",
	"colors": ["#ff0006",
	"#ffff00",
	"#00ff00"],
	"seg1": "",
	"seg2": "",
	"x": 680,
	"y": 600,
	"wires": []
},
{
	"id": "d97ef2ce.6e33b",
	"type": "ui_gauge",
	"z": "3e8039fb.838fa6",
	"name": "",
	"group": "8012cb68.e24628",
	"order": 3,
	"width": 0,
	"height": 0,
	"gtype": "gage",
	"title": "Anzahl Clicks Button 1",
	"label": "Clicks",
	"format": "{{value}}",
	"min": "0",
	"max": "2000",
	"colors": ["#ff0006",
	"#ffff00",
	"#00ff00"],
	"seg1": "",
	"seg2": "",
	"x": 680,
	"y": 800,
	"wires": []
},
{
	"id": "4a95e17f.5c299",
	"type": "mqtt in",
	"z": "3e8039fb.838fa6",
	"name": "",
	"topic": "campus/feedback",
	"qos": "2",
	"broker": "619c8a02.ac3e04",
	"x": 150,
	"y": 360,
	"wires": [["3c2ab590.02591a"]]
},
{
	"id": "3c2ab590.02591a",
	"type": "debug",
	"z": "3e8039fb.838fa6",
	"name": "",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "false",
	"x": 370,
	"y": 360,
	"wires": []
},
{
	"id": "ce1b52bb.92aec",
	"type": "debug",
	"z": "3e8039fb.838fa6",
	"name": "",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 420,
	"y": 280,
	"wires": []
},
{
	"id": "16a93efe.b9c5b1",
	"type": "ui_colour_picker",
	"z": "3e8039fb.838fa6",
	"name": "",
	"label": "Color",
	"group": "8012cb68.e24628",
	"format": "rgb",
	"outformat": "string",
	"showSwatch": true,
	"showPicker": false,
	"showValue": false,
	"showAlpha": false,
	"showLightness": true,
	"dynOutput": "false",
	"order": 1,
	"width": 0,
	"height": 0,
	"passthru": true,
	"topic": "",
	"x": 710,
	"y": 360,
	"wires": [["80819aea.a17288"]]
},
{
	"id": "e0544b07.7d7a68",
	"type": "debug",
	"z": "3e8039fb.838fa6",
	"name": "",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "false",
	"x": 960,
	"y": 340,
	"wires": []
},
{
	"id": "eb0c4140.26fd7",
	"type": "mqtt out",
	"z": "3e8039fb.838fa6",
	"name": "",
	"topic": "campus/feedback",
	"qos": "",
	"retain": "",
	"broker": "619c8a02.ac3e04",
	"x": 970,
	"y": 380,
	"wires": []
},
{
	"id": "80819aea.a17288",
	"type": "function",
	"z": "3e8039fb.838fa6",
	"name": "convert",
	"func": "// rgb(xx, xx, xx)\n\nvar c = msg.payload.split(\"(\")[1].split(\")\")[0].split(\",\")\n\nreturn { payload: \"0=\" + c[0].trim() + \"_\" + c[1].trim() + \"_\" + c[2].trim()};",
	"outputs": 1,
	"noerr": 0,
	"x": 840,
	"y": 460,
	"wires": [["eb0c4140.26fd7",
	"e0544b07.7d7a68"]]
},
{
	"id": "a05f5716.6e2008",
	"type": "mqtt in",
	"z": "3e8039fb.838fa6",
	"name": "",
	"topic": "/campus/Button0",
	"qos": "2",
	"broker": "619c8a02.ac3e04",
	"x": 140,
	"y": 560,
	"wires": [["87eadacb.6ada08",
	"be81d7e2.5c0668",
	"50684a20.757884",
	"76aa7705.204c88"]]
},
{
	"id": "87eadacb.6ada08",
	"type": "debug",
	"z": "3e8039fb.838fa6",
	"name": "",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "false",
	"x": 370,
	"y": 560,
	"wires": []
},
{
	"id": "d69d0dd.3fb63f",
	"type": "mqtt in",
	"z": "3e8039fb.838fa6",
	"name": "",
	"topic": "/campus/Button1",
	"qos": "2",
	"broker": "619c8a02.ac3e04",
	"x": 140,
	"y": 760,
	"wires": [["14af4ba6.0773a4",
	"914e6c0e.ed39f",
	"3bbef87e.caf3b8",
	"76aa7705.204c88"]]
},
{
	"id": "14af4ba6.0773a4",
	"type": "debug",
	"z": "3e8039fb.838fa6",
	"name": "",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "false",
	"x": 370,
	"y": 760,
	"wires": []
},
{
	"id": "be81d7e2.5c0668",
	"type": "function",
	"z": "3e8039fb.838fa6",
	"name": "Count button 0 clicks",
	"func": "var count = flow.get('Button0Click') || 0;\ncount += 1;\nflow.set('Button0Click', count);\nm = {payload : flow.get('Button0Click') || 0};\nreturn m;",
	"outputs": 1,
	"noerr": 0,
	"x": 400,
	"y": 600,
	"wires": [["53cdaf17.2c8a6"]]
},
{
	"id": "914e6c0e.ed39f",
	"type": "function",
	"z": "3e8039fb.838fa6",
	"name": "Count Button 1 clicks",
	"func": "var count = flow.get('Button1Click') || 0;\ncount += 1;\nflow.set('Button1Click', count);\nm = {payload : flow.get('Button1Click') || 0};\nreturn m;",
	"outputs": 1,
	"noerr": 0,
	"x": 400,
	"y": 800,
	"wires": [["d97ef2ce.6e33b"]]
},
{
	"id": "3bbef87e.caf3b8",
	"type": "function",
	"z": "3e8039fb.838fa6",
	"name": "Set node specified color",
	"func": "var color = msg.payload.split('#')[2];\nvar node = msg.payload.split('#')[0];\nvar m = { payload: 1 + \"=\" + color };\nreturn m;",
	"outputs": 1,
	"noerr": 0,
	"x": 410,
	"y": 840,
	"wires": [["ac84427a.511aa",
	"8d552058.a191e"]]
},
{
	"id": "ac84427a.511aa",
	"type": "mqtt out",
	"z": "3e8039fb.838fa6",
	"name": "",
	"topic": "/campus/feedback",
	"qos": "",
	"retain": "",
	"broker": "619c8a02.ac3e04",
	"x": 670,
	"y": 840,
	"wires": []
},
{
	"id": "50684a20.757884",
	"type": "function",
	"z": "3e8039fb.838fa6",
	"name": "Send random color",
	"func": "var node = msg.payload.split('#')[0];\nvar r = Math.floor(Math.random() * 256);\nvar g = Math.floor(Math.random() * 256);\nvar b = Math.floor(Math.random() * 256);\nvar m = {payload : node + \"=\" + r + \"_\" + g + \"_\" + b};\nreturn m;",
	"outputs": 1,
	"noerr": 0,
	"x": 390,
	"y": 640,
	"wires": [["f2973b26.65bac8",
	"d993656b.92e2e8"]]
},
{
	"id": "f2973b26.65bac8",
	"type": "mqtt out",
	"z": "3e8039fb.838fa6",
	"name": "",
	"topic": "/campus/feedback",
	"qos": "",
	"retain": "",
	"broker": "619c8a02.ac3e04",
	"x": 670,
	"y": 680,
	"wires": []
},
{
	"id": "2b7803eb.f66afc",
	"type": "inject",
	"z": "3e8039fb.838fa6",
	"name": "",
	"topic": "",
	"payload": "1=1_1_1",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 140,
	"y": 440,
	"wires": [["daa37382.f2c93"]]
},
{
	"id": "daa37382.f2c93",
	"type": "mqtt out",
	"z": "3e8039fb.838fa6",
	"name": "",
	"topic": "/campus/feedback",
	"qos": "",
	"retain": "",
	"broker": "619c8a02.ac3e04",
	"x": 350,
	"y": 440,
	"wires": []
},
{
	"id": "d993656b.92e2e8",
	"type": "debug",
	"z": "3e8039fb.838fa6",
	"name": "",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "false",
	"x": 650,
	"y": 640,
	"wires": []
},
{
	"id": "8d552058.a191e",
	"type": "debug",
	"z": "3e8039fb.838fa6",
	"name": "",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "false",
	"x": 650,
	"y": 900,
	"wires": []
},
{
	"id": "76aa7705.204c88",
	"type": "function",
	"z": "3e8039fb.838fa6",
	"name": "Count clicks by node",
	"func": "var node = msg.payload.split('#')[0];\n\nvar count = flow.get(node) || 0;\ncount += 1;\nflow.set(node, count);",
	"outputs": 1,
	"noerr": 0,
	"x": 400,
	"y": 700,
	"wires": [[]]
},
{
	"id": "aa5f7201.f1dce",
	"type": "function",
	"z": "3e8039fb.838fa6",
	"name": "Click results",
	"func": "var x = \"\";\nvar m = {} ;\nfor (var i = 0; i < flow.keys().length; i++) {\n    if (!(flow.keys()[i].indexOf(\"Button\") >= 0)) {\n        x += flow.keys()[i] + \": \" + flow.get(flow.keys()[i]) + \" Clicks\";\n    }\n}\nm.payload = x;\nreturn m;",
	"outputs": 1,
	"noerr": 0,
	"x": 380,
	"y": 1000,
	"wires": [["7bdb205f.bb129"]]
},
{
	"id": "f6c49d86.c3b3d",
	"type": "inject",
	"z": "3e8039fb.838fa6",
	"name": "",
	"topic": "",
	"payload": "Go!",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 130,
	"y": 1000,
	"wires": [["aa5f7201.f1dce"]]
},
{
	"id": "7bdb205f.bb129",
	"type": "debug",
	"z": "3e8039fb.838fa6",
	"name": "",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 610,
	"y": 1000,
	"wires": []
},
{
	"id": "619c8a02.ac3e04",
	"type": "mqtt-broker",
	"z": "",
	"name": "HAP MQTT",
	"broker": "localhost",
	"port": "1883",
	"clientid": "",
	"usetls": false,
	"compatmode": true,
	"keepalive": "60",
	"cleansession": true,
	"willTopic": "",
	"willQos": "0",
	"willPayload": "",
	"birthTopic": "",
	"birthQos": "0",
	"birthPayload": ""
},
{
	"id": "adf10bbe.af8488",
	"type": "ui_group",
	"z": "",
	"name": "Sensoren",
	"tab": "691086cf.21d408",
	"disp": true,
	"width": "6",
	"collapse": false
},
{
	"id": "8012cb68.e24628",
	"type": "ui_group",
	"z": "",
	"name": "Aktoren",
	"tab": "691086cf.21d408",
	"disp": true,
	"width": "6",
	"collapse": false
},
{
	"id": "691086cf.21d408",
	"type": "ui_tab",
	"z": "",
	"name": "TQ",
	"icon": "dashboard"
}]